<a href="https://colab.research.google.com/github/hcproc/VScode-/blob/main/(Student)_Data_Preprocessing_%2B_Model_Evaluation_Workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Codes from ACE6233 Chapter 2 lecture slides

## Source the Data, and Data Preprocessing

Read from a CSV file

In [16]:
from pandas import read_csv
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = read_csv('https://raw.githubusercontent.com/wooihaw/datasets/main/pima-indians-diabetes.data.csv', names=names)

`df` is a pandas DataFrame

In [17]:
type(df)

pandas.core.frame.DataFrame

In [27]:
df.shape

(768, 9)

How many columns are there?

Statistical summary of the data

In [26]:
df.describe()

,preg,plas,pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

How many classes are there?

In [22]:
# Hint: df.groupby('class')

Separate the columns into **Features** & **Target**

In [24]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

Features in X, Target (Label) in y

In [25]:
type(array)

NameError: name 'array' is not defined

In [21]:
type(X)

NameError: name 'X' is not defined

**How do we handle missing values?**

Example:

In [28]:
import pandas as pd

In [29]:
df1 = pd.DataFrame({'Age': [17, 23, 'x', 38, 54, 67, 32],
                  'Height': [160, 172, 150, 165, 163, 158, 175],
                  'Weight':[50, 68, 43, 52, 47, 49, 'x']})
print(df1)

  Age  Height Weight
0  17     160     50
1  23     172     68
2   x     150     43
3  38     165     52
4  54     163     47
5  67     158     49
6  32     175      x

In [30]:
df1.Age

0    17
1    23
2     x
3    38
4    54
5    67
6    32
Name: Age, dtype: object

In [31]:
type(df1.Age)

pandas.core.series.Series

In [32]:
df1.keys()

Index(['Age', 'Height', 'Weight'], dtype='object')

In [33]:
df1.values

array([[17, 160, 50],
       [23, 172, 68],
       ['x', 150, 43],
       [38, 165, 52],
       [54, 163, 47],
       [67, 158, 49],
       [32, 175, 'x']], dtype=object)

In [34]:
type(df1.values)

numpy.ndarray

Replace the missing values 'x' with NaN

In [35]:
# Hint: replace({'x': None}

In [37]:
df2 = df1.copy() # Keep a copy of df1 for latter use
df3 = df1.copy() # Keep a copy of df1 for latter use

**Method 1: Discard**  
Drop rows with NaN

In [12]:
# Hint: dropna()

**Method 2: Replace NaN with some value**

Replace NaN with the median value of the column

Replace NaN with the mean value of the column

In [48]:
print(df2)

  Age  Height Weight
0  17     160     50
1  23     172     68
2   x     150     43
3  38     165     52
4  54     163     47
5  67     158     49
6  32     175      x

**Feature Scaling**

Load the PIMA dataset

In [47]:
array = df.values

Separate the array into Features & Target

In [46]:
x=  array[:,:-1]
y = array[1,-1]

**1. Min-max scaling**

In [49]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))
scaler.fit(X)
scaledX = scaler.transform(X)

Check the min and max values of Column 1

In [53]:
a = min(scaledX[:,1])
b = max(scaledX[:,1])
print(f'Min value is {a},max value is {b}')

Min value is 0.0,max value is 1.0

**2. Standard scaling**

In [58]:
from sklearn.preprocessing import StandardScaler
scaler =StandardScaler()
scaler.fit(X)
scaledX = scaler.transform(X)

Check the mean and standard deviation of Column 1

In [60]:
import numpy as np
a= np.mean(scaledX[:,1])
b = np.std(scaledX[:,1])
print(f'Mean value is {a},standard deviation is {b}')

Mean value is -9.25185853854297e-18,standard deviation is 1.0

**3. Robust Scaling**

In [ ]:
from sklearn.preprocessing import RobustScaler

Check the median and interquartile range (IQR) values

In [62]:
a = np.median(scaledX[:,1])
q75,q25 = np.percentile(scaledX[:,1],[75,25])
b = q75-q25
print(f'Median value is {a},IQR is {b}')

Median value is -0.12188771051207764,IQR is 1.291007244741765

**Handling Categorical Data**

Use `pandas` to encode **ordinal** and **nominal** categorical data

Example:

In [64]:
df0 = pd.DataFrame({'year':[2015, 2017, 2013, 2018, 2020],
                    'make':['Toyota', 'Honda', 'Perodua', 'Hyundai', 'Toyota'],
                    'engine':[1.5, 1.8, 1.3, 1.6, 1.8],
                    'review':['moderate', 'good', 'poor', 'moderate', 'good']})

In [65]:
df0

   year     make  engine    review
0  2015   Toyota     1.5  moderate
1  2017    Honda     1.8      good
2  2013  Perodua     1.3      poor
3  2018  Hyundai     1.6  moderate
4  2020   Toyota     1.8      good

Encode **ordinal** data

In [66]:
mapping = {'poor':1, 'moderate':2, 'good':3}

In [67]:
df0['review'] = df0['review'].map(mapping)
print(df0)

   year     make  engine  review
0  2015   Toyota     1.5       2
1  2017    Honda     1.8       3
2  2013  Perodua     1.3       1
3  2018  Hyundai     1.6       2
4  2020   Toyota     1.8       3

Encode **nominal** data using `get_dummies`

**Feature Engineering**

Load the PIMA dataset. Create 2 new features for it.

In [ ]:
df['plas_pres'] = df['plas'] + df['pres'] # new feature 1

win_size = 3
df['mass_ave'] = df['mass'].rolling(win_size).mean() # new feature 2

Examine the first 5 rows

**Feature Selection**

Try with different methods: Select K Best, Select From Model, Recursive Feature Elimination (RFE), Dimensionality Reduction

In [ ]:
from sklearn.feature_selection import SelectKBest, SelectFromModel, RFE

1. **Univariate** Selection

Select 4 best features

In [ ]:
# Hint: SelectKBest(k=4)

Show selected features

In [ ]:
print([names[i] for i in range(len(names)-1) if selected[i]])

2. **Model-based** Selection

First, choose a model. Here we choose the Random Forest Classifier.

In [ ]:
from sklearn.ensemble import RandomForestClassifier
# Hint: SelectFromModel(RandomForestClassifier(),

Show selected features

In [ ]:
print([names[i] for i in range(len(names)-1) if selected[i]])

3.**Recursive Feature Elimination**

First, choose a model. Here we choose the Decision Tree Classifier.

In [ ]:
from sklearn.tree import DecisionTreeClassifier
# Hint: RFE(DecisionTreeClassifier(),

Show selected features

In [ ]:
print([names[i] for i in range(len(names)-1) if selected[i]])

4. **Dimensionality Reduction**

Use Principal Component Analysis (PCA). Decide on the number of principal components, say 3.

In [ ]:
from sklearn.decomposition import PCA
# Hint: PCA(n_components=3)

Summarize the selected components

In [ ]:
print("Explained Variance: %s" % pca.explained_variance_ratio_)

## Model Evaluation

1. **Hold-out Validation**

Do a Train-Test split. Decide on the Test size, say 20% of the dataset.

In [ ]:
from sklearn.model_selection import train_test_split

Choose a model, say K-Neighbors Classifier.

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

Training

Testing

What's the accuracy?

2. **K-fold Cross-validation**

Do a 5-fold cross-validation

In [ ]:
from sklearn.model_selection import KFold, cross_val_score
# Hint: KFold(n_splits=5,

In [ ]:
results =

**Performance Metrics**

In [ ]:
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, classification_report

1. Confusion Matrix

In [ ]:
predictions = model.predict(X_test)
# Hint: Use confusion_matrix( ), followed by ConfusionMatrixDisplay( )

2. Classification Report

In [ ]:
print(classification_report(y_test, predictions))

**Yellowbrick**'s ClassificationReport

In [ ]:
from yellowbrick.classifier import ClassificationReport
report = ClassificationReport(model, support=True)

What are the results?

**Hyperparameter Tuning**

Choose a model, say Support Vector Classifier (SVC).

In [ ]:
from sklearn.svm import SVC
model = SVC()

**GridSearchCV** - Exhaustive search over specified parameter values for an estimator

In [ ]:
from sklearn.model_selection import GridSearchCV
params = dict(C=[0.001, 0.01, 0.1, 1, 10], gamma=[0.001, 0.01, 0.1, 1, 10])

Here we go

What are the parameter values that give the best score?